* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-height: 100vh;
}

body {
	margin: 10px 150px 0 150px;
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
}

h2 {
	font-family: 'Caveat', cursive;
	font-size: 40px;
}

header {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

header nav li {
	display: inline-flex;
	font-size: 18px;
	font-family: 'Lexend Zetta', sans-serif;
	padding: 10px 90px;
}

header nav li:hover {
	background: #f8d4da;
	border-radius: 20px;
	transition: ease-in-out 0.3s;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	background: none;
}

main {
	position: absolute;
	left: 0%;
	width: 100%;
}

.container div > img {
	object-fit: cover;
	width: 100%;
	border-radius: 20px;
	box-shadow: 5px 5px 5px 5px rgb(200, 200, 200);
}

.container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(10, 1fr);
	grid-gap: 60px;
	margin: 20px 100px;
}

.photo-7 {
	grid-column: span 2;
}

.photo-11 {
	grid-column: span 2;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #f8d4da;
	border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #f8d4da;
}
