* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-height: 100vh;
}

body {
	margin: 10px 150px 0 150px;
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
}

h2 {
	font-family: 'Caveat', cursive;
	font-size: 40px;
}

header {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

header nav li {
	display: inline-flex;
	font-size: 18px;
	font-family: 'Lexend Zetta', sans-serif;
	padding: 10px 90px;
	margin: 0 40px;
	transition: all 0.3s ease-out;
}

header nav li:hover {
	background: #f8d4da;
	border-radius: 20px;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	background: none;
}

main {
	position: absolute;
	left: 0%;
	width: 100%;
}

.photo {
	overflow: hidden;
	border-radius: 20px;
}

.container div > img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	box-shadow: 5px 5px 5px 5px rgb(200, 200, 200);
	transition: all 0.2s ease-out;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(600px, 1fr));
	grid-gap: 60px;
	margin: 20px 100px;
	justify-items: center;
	align-items: center;
}
.container img:hover {
	transform: scale(1.1);
}

.photo-7 {
	grid-column: span 2;
}

.photo-11 {
	grid-column: span 2;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #f8d4da;
	border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #f8d4da;
}

@media (min-width: 1000px) {
	header nav li {
		display: inline-flex;
		font-size: 18px;
		flex-wrap: nowrap;
		font-family: 'Lexend Zetta', sans-serif;
		padding: 10px 10px;
		margin: 0 50px;
		padding: 10px 10px;
		margin: 0 30px;
	}
}

@media (max-width: 1100px) {
	header nav ul {
		display: flex;
		flex-direction: column;
		padding: 10px 10px;
		margin: 0 50px;
	}

	header nav ul li {
		margin: 5px 0;
	}
}

@media (max-width: 870px) {
	.container {
		display: flex;
		flex-direction: column;
		margin: 10px 40px;
	}

	body {
		margin: 0 0px 0 0px;
	}

	h1 {
		font-family: 'Dancing Script', cursive;
		font-size: 55px;
	}

	h2 {
		font-family: 'Caveat', cursive;
		font-size: 35px;
	}

	header nav li {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
		font-size: 20px;
	}

	header {
		display: flex;
		justify-content: center;
		padding: 0 20px;
	}
}

@media (max-width: 520px) {
	.container {
		display: flex;
		flex-direction: column;
		margin: 10px 25px;
	}

	body {
		margin: 0 0px 0 0px;
	}

	h1 {
		font-family: 'Dancing Script', cursive;
		font-size: 50px;
	}

	h2 {
		font-family: 'Caveat', cursive;
		font-size: 35px;
	}

	header nav li {
		font-size: 18.6px;
	}

	header {
		display: flex;
		justify-content: center;
		padding: 0 20px;
	}
}

@media (min-width: 1120px) {
	.container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		grid-template-rows: repeat(auto-fit, minmax(700px, 1fr));
	}
}

@media (min-width: 1100px) {
	header nav li {
		display: inline-flex;
		font-size: 18px;
		font-family: 'Lexend Zetta', sans-serif;
		justify-content: space-evenly;
	}
}

@media (max-width: 491px) {
	header nav li {
		padding: 5px 10px;
	}
}

.lightbox {
	-webkit-transition: top 0.1s;
	-moz-transition: top 0.1s;
	-o-transition: top 0.1s;
	transition: top 0.1s;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
