* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-height: 100vh;
}

html {
	scroll-behavior: smooth;
}

.body-wrapper {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.main-wrapper {
	padding: 0 0 0 300px;
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
	/* padding: 20px 200px 0 0; */
	width: 100%;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
}

h2 {
	font-family: 'Tangerine', cursive;
	font-size: 40px;
}

.header-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 100%;
	margin: 0 auto;
}

.header ul {
	display: flex;
	list-style: none;
	justify-content: center;
	align-items: center;
	font-family: 'Montserrat', sans-serif;
	width: 100%;
	margin: 0 auto;
}

.header nav li {
	font-size: 18px;
	text-align: center;
	padding: 10px 30px;
	margin: 0 50px;
	transition: all 0.3s ease-out;
	color: black;
}

.header nav li:hover {
	background: #f8d4da;
	border-radius: 20px;
}

a {
	text-decoration: none;
	color: black;
	cursor: pointer;
	transition: all 0.25s ease-out;
}

a:visited {
	color: black;
	text-decoration: none;

	cursor: pointer;
}

.photo-menu-wrapper a {
	color: white;
	font-family: 'Montserrat', sans-serif;
}

a:hover {
	background: none;
}

.photo {
	overflow: hidden;
}

.photo-menu-wrapper {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	text-align: left;
	justify-content: center;
	min-height: 100vh;
	list-style: none;
	padding: 0 20px;

	background: rgba(0, 0, 0, 0.803);
	position: fixed;
}

.photo-menu-wrapper li {
	margin: 50px 0;
	font-family: 'Lexend Zetta', sans-serif;
	font-size: 18px;
	padding: 10px 30px;
	transition: all 0.25s ease-out;
}

.photo-menu-wrapper li:hover {
	background: #f8d4da;
	padding: 10px 30px;
	border-radius: 20px;
}

.photo-menu-wrapper a:hover {
	color: black;
}

.photo-container {
	width: 100%;
	margin: 0 auto;
}

.container div > img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 20px;
	transition: all 0.2s ease-out;
	cursor: pointer;
}

.container {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
	grid-template-rows: repeat(auto-fit, minmax(700px, 1fr));
	grid-gap: 10px;
	justify-content: stretch;
	align-items: center;
	min-height: 100vh;
	width: 100%;
}

.container img:hover {
	transform: scale(1.3);
}

.modal {
	background: rgba(0, 0, 0, 0.6);
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;
	pointer-events: none;
	transition: 0.25s ease-out;
}

.modal.open {
	opacity: 1;
	pointer-events: all;
}

.full-img {
	position: absolute;
	height: 80%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0.4);
	transition: all 0.25s ease-out;
}

.full-img.open {
	transform: translate(-50%, -50%) scale(1.2);
}

.modal p {
	color: white;
	font-size: 2rem;
	position: absolute;
	bottom: 5%;
	left: 50%;
	transform: translate(-50%, -5%);
}

.photo-7 {
	grid-column: span 2;
}

.photo-11 {
	grid-column: span 2;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #f8d4da;
	border-radius: 20px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #f8d4da;
}

@media (max-width: 1685px) {
	.container {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-template-rows: repeat(auto-fit, minmax(500px, 1fr));
	}
}

@media (max-width: 1489px) {
	.container {
		grid-template-columns: repeat(auto-fit, minmax(245px, 1fr));
		grid-template-rows: repeat(auto-fit, minmax(650px, 1fr));
	}
}

@media (max-width: 1000px) {
	.header li {
		display: inline-flex;
		font-size: 18px;
		flex-wrap: nowrap;
		font-family: 'Lexend Zetta', sans-serif;
		padding: 10px 10px;
	}
}

@media (max-width: 1193px) {
	.container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-template-rows: repeat(auto-fit, minmax(600px, 1fr));
		grid-gap: 20px;
	}
}
@media (max-width: 1100px) {
	.header nav li {
		display: inline-flex;
		font-size: 18px;
		font-family: 'Lexend Zetta', sans-serif;
		justify-content: space-evenly;
	}
	.header ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 10px 10px;

		text-align: center;
	}

	.header-wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100%;
		margin: 0 auto;
	}

	.header li {
		margin: 5px 0;
	}
}

@media (max-width: 965px) {
	.main-wrapper {
		padding: 0 0 0 250px;
	}

	.container {
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		grid-template-rows: repeat(auto-fit, minmax(550px, 1fr));
	}
}

@media (max-width: 870px) {
	.container {
		grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
		grid-template-rows: repeat(auto-fit, minmax(450px, 1fr));
		justify-content: center;
		width: 100%;
		margin: 0 auto;
	}

	.main-wrapper {
		padding: 0;
		margin: 0 10px;
	}

	.photo-menu-wrapper {
		display: none;
	}
	body {
		margin: 0 0px 0 0px;
	}

	h1 {
		font-family: 'Dancing Script', cursive;
		font-size: 55px;
	}

	h2 {
		font-family: 'Caveat', cursive;
		font-size: 35px;
	}

	.header li {
		display: flex;
		flex-direction: column;
	}

	.header {
		display: flex;
		justify-content: center;
		padding: 10 20px;
		text-align: center;
	}
}

@media (max-width: 530px) {
	.container {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
		grid-template-rows: repeat(auto-fit, minmax(350px, 1fr));
	}

	.container div > img {
		border-radius: 0px;
	}
	h1 {
		font-family: 'Dancing Script', cursive;
		font-size: 50px;
	}

	h2 {
		font-family: 'Caveat', cursive;
		font-size: 35px;
	}

	.header nav li {
		font-size: 18.6px;
	}

	.header {
		display: flex;
		justify-content: center;
		padding: 0 20px;
	}
}

/* @media (max-width: 970px) {
	.container {
		display: flex;
		flex-direction: column;
	}
} */

@media (max-width: 491px) {
	.container {
		grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
		grid-template-rows: repeat(auto-fit, minmax(330px, 1fr));
		grid-gap: 8px;
	}
}
@media (max-width: 491px) {
	.header nav li {
		padding: 5px 10px;
	}

	.full-img.open {
		transform: translate(-50%, -50%) scale(1.1);
	}
}

/* .lightbox {
	-webkit-transition: top 0.1s;
	-moz-transition: top 0.1s;
	-o-transition: top 0.1s;
	transition: top 0.1s;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
} */
