* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
}

h2 {
	font-family: 'Tangerine', cursive;
	font-size: 40px;
}

header {
	display: flex;
	justify-content: center;
	margin: 40px 0;
}

header nav li {
	display: inline-flex;
	font-size: 18px;
	font-family: 'Lexend Zetta', sans-serif;
	padding: 10px 90px;
	transition: all 0.3s ease-out;
}

header nav li:hover {
	background: #f8d4da;
	border-radius: 20px;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	background: none;
}

main {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 95%;
	margin: 0 auto;
}

main img {
	border-radius: 30px;

	justify-self: flex-start;
	margin: 0;
}

.venue-details {
	display: flex;
	flex-direction: column;
	text-align: left;
	margin: 0 50px;
}

/* .main-photo {
	margin: 20px 100px;
	width: 50%;
	border-radius: 30px;
	position: absolute;
	left: 0;
	box-shadow: 2px 2px 2px 2px rgb(200, 200, 200);
}

.venue-details {
	position: absolute;
	right: 0;
	top: 40%;
	width: 40%;
}

.venue-details h2 {
	padding: 30px 0;
	position: relative;
	left: 15%;
} */

.venue-details h4 {
	padding: 10px 0;
	font-family: 'Lexend Zetta', sans-serif;
}

.venue-details h4 strong {
	padding: 10px 0;
	font-family: 'Lexend Zetta', sans-serif;
	text-decoration: underline;
}

@media (min-width: 1000px) {
	header nav li {
		display: inline-flex;
		font-size: 18px;
		font-family: 'Lexend Zetta', sans-serif;
		padding: 10px 50px;
	}
}
