* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-height: 100vh;
}

body {
	margin: 10px 150px 0 150px;
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
}

h2 {
	font-family: 'Caveat', cursive;
	font-size: 40px;
}

header {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

header nav li {
	display: inline-flex;
	font-size: 18px;
	font-family: 'Lexend Zetta', sans-serif;
	padding: 10px 90px;
}

header nav li:hover {
	background: #f8d4da;
	border-radius: 20px;
	transition: ease-in-out 0.3s;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	background: none;
}

input {
	width: 100%;
	margin: 10px;
	padding: 10px;

	border-radius: 10px;
}

label {
	font-size: 18px;
}

.addfamilymember {
	height: 200px;
	text-align: left;
}

.submit {
	display: flex;
	justify-content: center;
}

input[type=submit] {
	background: white;
	border: none;
	font-family: 'Lexend Zetta', sans-serif;
	font-size: 30px;
	width: 25%;
}

input[type=submit]:hover {
	background: #f8d4da;
	border-radius: 20px;
	transition: ease-in-out 0.3s;
	border: none;
}

input:hover {
	border: 2px solid #f8d4da;
}
