* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	max-height: 100vh;
}

body {
	background-image: url(Images/Proposal-Photos/Proposal-11.png);
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 100vh;
	background-attachment: fixed;
}

.header-wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
}

h2 {
	font-family: 'Tangerine', cursive;
	font-size: 40px;
}

header {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

header ul {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 18px;
	font-family: 'Lexend Zetta', sans-serif;
}

header li {
	list-style: none;
	margin: 0 50px;
	padding: 10px 50px;
	transition: all 0.3s ease-out;
}

header nav li:hover {
	background: #f8d4da;
	border-radius: 20px;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	background: none;
}

.form-wrapper {
	margin: 50px 0 50px 0;
}

.form-container {
	margin: 0 auto;
	width: 80%;
	background: rgba(0, 0, 0, 0.6);
	color: white;
	border-radius: 50px;
	font-family: 'Montserrat', sans-serif;
}

input::placeholder {
	color: white;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

textarea::placeholder {
	color: white;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

form {
	display: flex;
	flex-direction: column;
	align-items: center;
}

input {
	margin: 10px;
	padding: 10px;
	border-radius: 10px;
	border: 1px solid white;
	outline: none;
	background: transparent;
	color: white;
	font-size: 18px;
	font-family: 'Montserrat', sans-serif;
}

.fname-label {
	margin: 40px 0 0 0;
}

.Fname {
	width: 60%;
}

.email {
	width: 60%;
}

label {
	font-size: 22px;
}

.Diet {
	width: 70%;
	height: 400px;
	border: 1px solid white;
	font-family: 'Montserrat', sans-serif;
}

textarea {
	height: 200px;
	width: 70%;
	border-radius: 20px;
	padding: 10px 20px;
	border: 1px solid white;
	margin-left: 7px;
	margin: 10px 7px;
	outline: none;
	background: transparent;
	color: white;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
}

textarea:hover {
	border: 2px solid #f8d4da;
}

.submit {
	display: flex;
	justify-content: center;
}

.submit button {
	border: 2px solid #f8d4da;
	background: transparent;
	padding: 15px 30px;
	font-size: 30px;
	border-radius: 40px;
	margin: 20px 0;
	color: white;
}

.submit button:hover {
	border: 2px solid #f8d4da;
	background: #f8d4da;
	transition: 0.2s;
	color: black;
}

input:hover {
	border: 2px solid #f8d4da;
}

@media (max-width: 870px) {
	header ul {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		font-size: 16px;
	}

	header li {
		margin: 10px 0;
	}
	.form-wrapper {
		margin: 20px 0 10px 0;
		padding: 10px 0;
	}

	.form-container {
		width: 80%;
		padding: 10px 0;
	}

	.Fname {
		width: 90%;
	}

	.email {
		width: 90%;
	}

	label {
		font-size: 20px;
	}

	.Diet {
		width: 90%;
	}

	textarea {
		height: 200px;
		width: 90%;
	}
}

@media (max-width: 560px) {
	.form-container {
		width: 100%;
		padding: 10px 0;
	}

	header li {
		list-style: none;
		margin: 10px 0px;

		transition: all 0.3s ease-out;
	}
}
