* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
}

h2 {
	font-family: 'Tangerine', cursive;
	font-size: 60px;
}

.media-wrapper {
	background-image: url(Images/Proposal-Photos/Proposal-7.jpg);
	background-size: cover;

	background-repeat: no-repeat;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-end;
	background-attachment: fixed;
}

.heading {
	margin: 0 60px 0;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0 20px 0 0;
	text-align: center;
}

header nav {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 20px 0;
}

header a {
	font-size: 20px;
	font-family: 'Montserrat', sans-serif;
}

header nav li {
	display: inline-flex;
	margin: 10px 0;
	padding: 10px 90px;
	transition: all 0.3s ease-out;
}

header nav li:hover {
	background: #f8d4da;
	border-radius: 20px;
}

p {
	text-align: center;
	font-size: 40px;
	font-family: 'Epilogue', sans-serif;
	color: black;
	border-bottom: 2px solid #f8d4da27;
	border-radius: px;
	padding: 0 0 3px 0;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	background: none;
}

.main-photo {
	display: block;
	width: 100%;
	border-radius: 30px;
	margin: 0 auto;
	box-shadow: 5px 5px 5px 5px rgb(200, 200, 200);
	min-height: 100vh;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #f8d4da;
	border-radius: 20px;
}

@media (min-width: 1000px) {
	header nav li {
		display: inline-flex;
		font-size: 18px;
		font-family: 'Lexend Zetta', sans-serif;
		padding: 10px 50px;
	}
}

@media (max-width: 1205px) {
	header nav li {
		padding: 10px 90px;
	}

	a {
		color: white;
	}

	header a:visited {
		color: white;
	}

	p {
		color: white;
	}

	.header-wrapper {
		background: rgba(0, 0, 0, 0.683);
		border-radius: 30px;
		padding: 10px 30px;
		margin: 0 auto;
		color: white;
	}
}

@media (max-width: 870px) {
	.media-wrapper {
		background-position-x: -250px;
	}
}

@media (max-width: 870px) {
	.heading h1 {
		font-size: 40px;
		padding: 0;
		margin: 0;
	}

	.heading h2 {
		font-size: 40px;
	}
}
