* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	margin: 10px 150px 0 150px;
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
}

h2 {
	font-family: 'Caveat', cursive;
	font-size: 40px;
}

header {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

header nav li {
	display: inline-flex;
	font-size: 20px;

	padding: 10px 110px;
}

header nav li:hover {
	background: rgb(243, 243, 243);
	border-radius: 20px;
	transition: ease-in-out 0.3s;
}

main {
}

.main-photo {
	display: block;
	width: 100%;
	border-radius: 30px;
	margin: 0 auto;
	box-shadow: 10px 10px 10px 10px rgb(200, 200, 200);
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	background: rgb(243, 243, 243);
}
