* {
	margin: 0;
	padding: 0;
	box-sizing: border-box'
}

body {
	margin: 10px 150px 0 150px;
}

.heading {
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1 {
	font-family: 'Dancing Script', cursive;
	font-size: 60px;
}

h2 {
	font-family: 'Caveat', cursive;
	font-size: 40px;
}

header {
	display: flex;
	justify-content: center;
	margin: 20px 0;
}

header nav li {
	display: inline-flex;
	font-size: 18px;
	font-family: 'Lexend Zetta', sans-serif;
	padding: 10px 90px;
}

header nav li:hover {
	background: #f8d4da;
	border-radius: 20px;
	transition: ease-in-out 0.3s;
}

a {
	text-decoration: none;
	color: black;
}

a:visited {
	color: black;
	text-decoration: none;
}

a:hover {
	background: none;
}

.main-photo {
	display: block;
	width: 100%;
	border-radius: 30px;
	margin: 0 auto;
	box-shadow: 5px 5px 5px 5px rgb(200, 200, 200);
	min-height: 100vh;
}

::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #f8d4da;
	border-radius: 20px;
}

@media (min-width: 1000px) {
	header nav li {
		display: inline-flex;
		font-size: 18px;
		font-family: 'Lexend Zetta', sans-serif;
		padding: 10px 50px;
	}
}

@media (max-width: 1270px) {
	header nav li {
		padding: 0 30px;
	}

	.main-photo {
		width: 900px;
		margin: 0 auto;
		height: 650px;
	}
}

